# BYBIT API KEYS
# Rename this file to .env and fill in your actual keys.
# DO NOT commit .env to public repositories!

BYBIT_LIVE_API_KEY=""
BYBIT_LIVE_API_SECRET=""

BYBIT_DEMO_API_KEY=""
BYBIT_DEMO_API_SECRET=""
